.main-header { 
    display: flex;
    justify-content: space-between;
    background-color: rgb(39, 39, 214);
    padding: 10px;
    align-items: center;
    color: white;
}

.main-header ul {
    display: flex;
    width: 300px;
    justify-content: space-around;
}

.main-header li {
    font-size: 15pt;
    text-decoration: none;
    list-style-type: none;
}